Vypiště všechny čísla mezi 2 a 100, který jsou bud dělitelná 3 nebo 7

In [ ]:
for i in range(2,101): 
    if i % 3 == 0 or i % 7 == 0:
        print(i)

Upravte předchozí program, aby vypisoval čísla, která jsou dělitelná 3 nebo 7, ale ne oběma najednou.

In [ ]:
# Michal Obergruber
 
for i in range(2, 101):
    if (i % 3 == 0 and i % 7 != 0) or (i % 3 != 0 and i % 7 == 0):
        print(i)

Vypište všechny prvočísla

In [ ]:
for i in range(2, 101):  # Testujeme čísla od 2 do 7
    is_prime = True    # Předpokládáme, že číslo je prvočíslo
    for j in range(2, i):  # Testujeme dělitelnost čísly od 2 do (i-1)
        if i % j == 0:     # Pokud je dělitelné, není prvočíslo
            is_prime = False
            break          # Přerušíme cyklus, protože už víme, že není prvočíslo
    if is_prime:           # Pokud zůstalo `True`, je to prvočíslo
        print(i)

„Implementujte“ umocňování celočíselným exponentem, tj. předpokládejte, že nemáte k dispozici operaci umocňování **, ale pouze základní matematické operace +-*/. Zkuste to vyřešit na méně než (n-1) násobení

In [63]:
## mocnení je, že vemeš číslo 2*n, číslo a xkrat ho vynasobíš sam sebou 


def mocni(num, ext): 
    ret = 1 
    for i in range(ext): 
        ret *= num
    return ret 

mocni(10,2)

100

Spočitejte faktorial daného čísla

In [44]:
int = 4

for i in range(int-1,0,-1): # loop generuje čísla od 3 do 1, krokem - 1 
    i *= int # číslo se vynásobí
    int = i  # výsledek nasobení (i)je potom uložen do proměné int, takže ciklus se cikli 

print(i)

24

In [45]:
# Přepis do funkce 

def faktorial(num): 
    for i in range(num-1,0,-1): 
        i *= num 
        num = i
    return i 
faktorial(4)

24

fibonaciho posloupnost

In [61]:
## tj 1 + 1  = 2 a 2 + 1 = 3 a 3 + 2 = 5 atd 


## takže poítam do 

lim = 5 
a, b = 0, 1 
for i in range(0,lim + 1): 
    if i == 0: 
        print(i)
    elif i == 1: 
        print(i)
    else: 
        k = a + b
        print(k)
        a, b = b,k

0
1
1
2
3
5

0  + 1 = 1 
1 + 1 = 2 
2 + 1 = 3 
3 + 2 = 5 
5 + 3 = 8 
8 + 5 = 13

In [62]:
x = 3 

def f(y):
    y = 2 * y 
    print(y)
f(x)

6

In [67]:
for x in range(5,11,2):
    print(x)

5
7
9

In [77]:
xs = (3, [2, 3], {4: 'čtyři', 5: 'pět', 6: 'šest'}, 7, (8 ,9), )

print(xs[1])

print(xs.count(3))

[2, 3]
1

In [71]:
xs = ['Petr', 'Pavel', 'Jirka', 'Jarda', 'Bořek', 'Tonda', ]

ys = sorted(xs, reverse= True)
print(ys)

['Tonda', 'Petr', 'Pavel', 'Jirka', 'Jarda', 'Bořek']

In [72]:

n = "ahoj"
def test(x):
         n = 'světe ' + x
         return n
    
print( test('můj') )

světe můj

In [73]:
xs = "Abrakadabra"

print(len(set(xs)))

6

In [76]:
xs = {1: 'jedna', 2: 'dvě', 3: 'tři', 4: 'čtyři', }


for x in xs:
    print(2*x)

xs[2] = 5 + 5 

print(xs)

[x for x in xs]

2
4
6
8
{1: 'jedna', 2: 10, 3: 'tři', 4: 'čtyři'}

[1, 2, 3, 4]

In [78]:
x = 2 > "dvě"

print(x)

TypeError: '>' not supported between instances of 'int' and 'str'

In [80]:
x = [] or {}
print(x)

{}

In [92]:
xs = "clubmate"

xd = xs[:7:2] # bere každej druhej 
print(xd)

cumt

In [10]:
xs = [1, [2, 3], [4, 5, 6], [7, 8, 9, 0],]


xs.pop(2)

[4, 5, 6]

In [11]:
xs = "Třistatřiatřicet stříbrných stříkaček stříkalo přes třistatřiatřicet stříbrných střech."

[len(x) for x in xs.split()]

[19, 13, 12, 10, 5, 19, 13, 8]

In [13]:
xs = "Třistatřiatřicet"

print(len(xs))

19